<hr>
<div class="char-dt-table">
    <div class="char-dt-table-row">
      <div class="char-dt-table-header">Normal Attack:<br>Fight Club Legend</div>
      <div class="char-dt-table-item">
        <p>
          Performs up to 4 consecutive strikes.
          When the 2nd and 4th strikes hit opponents, Itto will gain 1 and 2 stacks of Superlative Superstrength, respectively.
          Max 5 stacks. Triggering this effect will refresh the current duration of any existing stacks.</p>
        <p>
          Additionally, Itto's Normal Attack combo does not immediately reset after sprinting or using his Elemental Skill, "Masatsu Zetsugi: Akaushi Burst!"
        </p>
      </div>
    </div>
</div>
