h1{
    text-align: center;
}

hr{
    height: 1px;
    background-color: rebeccapurple;
    border: none;
}

\header {
    margin: 20px;
}

.background-main{
    background-size: 250px;
    background-repeat: repeat;
    background-color: black;
    color: rgb(220, 220, 220);
}

.header-main{
    color: rgb(210, 210, 210);
}

.nav-header {
    width: 1100px;
    border-radius: 10px;
    background-color: rgba(50, 0, 0, 0.9);
    border: 2px solid darkred;
    color: white;
}

.navbar-header{
    display: flex;
    gap: 0.5rem;
    color: white;
}

.nav-text{
    color: rgba(210, 210, 210, 0.9);
}

.content-block {
    width: 1100px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid darkred;
}

.newspaper-content {
    width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0;
    border: 2px solid black;
}

/* POSTS */
.news-body{
    width: 900px;
    opacity: 100%;
    background-color: rgba(30, 0, 0, 0.2);

}

.news-header{
    text-align: center;
}

.post-header{
    font-weight: bold;
}
.post-author{
    font-style: italic;
    margin-bottom: 10px;
}
.post-content{
    border: 1px dashed rgba(102, 51, 153, 0.3);
    border-left: 5px solid rebeccapurple;
    padding: 10px;
}

/* CHARACTER LIST */
.char-list-body{
    margin: 0 auto;
    width: 1040px;
    opacity: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    display: grid;
    grid-template-columns: repeat(4, max-content);
}

.char-card{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    width: 230px;
    position: relative;
    background-color: rgba(200, 200, 200, 0.8);
    border: 4px solid grey;
    border-radius: 20px;
    text-align: left;
    color: black;
    box-shadow: 0 0 20px black;
    overflow: hidden;
}

.card-header{
    font-size: 25px;
    background-color: transparent;
    border: none;
    margin-top: 0;
    padding: 5px;
}

.card-img{
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: gray;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

.card-stat{
    height: 50px;
}

.card-stars{
    text-shadow: 1px 1px gray, -1px -1px gray, 1px -1px gray, -1px 1px gray;
    display: inline;
    font-size: 1.5em;
}

.item-img {
    width: 25px;
    height: 25px;
    object-fit: scale-down;
}

.filter-el{
    margin: 0 5px;
}

.element-link{
    width: 40px;
}

.card-hr{
    background-color: grey;
    margin: 5px;
    padding: 0;
}

.card-link{
    position: absolute;
    inset: 0;
    border: 0 solid transparent;
    border-radius: 15px;
}

/* CHAR DETAIL */

.char-dt-upper-block{
    margin: 20px auto;
    width: 1040px;
    overflow: auto;
    opacity: 100%;
/*    display: grid;
    grid-template-includes: repeat(4, max-content); */
    display: flex;
    justify-content: flex-start;
}

.char-dt-upper-block > div:first-child {
    flex: 0 0 auto;
}

.char-dt-upper-block > div:last-child {
    flex: 1 1 max-content;
}

.char-dt-image{
    width: 500px;
    border: 0 solid red;
    border-radius: 30px;
    margin: auto;
    display: block;

}

.char-dt-table {
    margin: 20px;

    height: max-content;
    border: 0 solid red;
    border-radius: 10px;
    overflow: hidden;
}

.char-dt-table-header {
    padding: 5px;
    border: 2px solid black;
    background-color: rgba(200,0,0, 40%);
    align-content: start;
}

.char-dt-table-row {
    display: grid;
    grid-template-columns: 20% 1fr;
}

.char-dt-table-item {
    padding: 5px;
    border: 2px solid black;
    background-color: rgba(100,0,0, 40%);
}

.char-dt-stars{
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    display: inline;
    font-size: 1.5em;
}

/* ESTIMATION */

.estimation-header{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.estimation-table-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.estimation-column {
    margin: 10px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    width: 300px;
}

.points-form {
    width: 100px;
}

.percent-form {
    width: 80px;
}

.estimation-submit{
    text-align: center;
}

.estimation-submit-btn{
    width: 200px;
    height: 80px;
}

.est-row{
    display: table-row;
}

.est-item{
    display: table-cell;
    padding: 5px;
}

.tabulation{
    width: 100px;
}

.estimation-btn {
    height: 30px;
}

input[type='radio'] {
    accent-color: darkred;
}

input[type="checkbox"]:checked {
    accent-color: darkred;
}

/* LOGIN or LOGOUT */
.login-body {
    width: 400px;
    justify-content: center;
}

.login-panel {
    display: flex;
    justify-content: center;
}