{% extends "base.html" %}
{% load static %}

{% block title %}
  | Storage
{% endblock %}

{% block content %}
  <h1>Character Storage</h1>
  <hr>
  <p>
    Hello! I’m Arataki Itto!
    The first and greatest head of the Arataki Gang, famed throughout Inazuma City's Hanamizaka…
    Well, guess you're with the Arataki Gang now!
    Wait, what? You've never heard of them? Are you trying to be funny here?

  </p>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="nav-item filter-el">
        <a href="{% url 'GenshinStorage:storage' %}"><img src="{% static 'images/elements/multi-element.webp' %}" alt="Multi-Element" class="element-link"></a>
      </div>
      {% for element in elements %}
        <div class="nav-item filter-el">
          <a href="?filter={{ element.name }}"><img src="{{ element.image.url }}" alt="{{ element.name }}" class="element-link"></a>
        </div>
      {% endfor %}
    </div>
  </nav>

  {% if chars.exists %}
    {% include "includes/char_list.html" %}
  {% endif %}
{% endblock %}
