<div class="estimation-column">
  <div class="est-row">
    <div class="est-item">
      ATK
      <br>
      {% if stats.attack %}
        <input type="number" name="attack" placeholder="points" class="points-form" step="1" min="0" max="99999" value="{{ stats.attack }}">
      {% else %}
        <input type="number" name="attack" placeholder="points" class="points-form" step="1" min="0" max="99999" value="">
      {% endif %}
    </div>

    <div class="est-item">
      Scaling
      <br>
      {% if stats.attack_percent %}
      <input type="number" name="attack_percent" placeholder="%" class="percent-form" step="0.01" min="0" max="9999.99" value="{{ stats.attack_percent }}">
      {% else %}
        <input type="number" name="attack_percent" placeholder="%" class="percent-form" step="0.01" min="0" max="9999.99">
      {% endif %}
    </div>
  </div>

  <div class="est-row">
    <div class="est-item">
      DEF
      <br>
      {% if stats.defense %}
      <input type="number" name="defense" placeholder="points" class="points-form" step="1" min="0" max="99999" value="{{ stats.defense }}">
      {% else %}
      <input type="number" name="defense" placeholder="points" class="points-form" step="1" min="0" max="99999">
      {% endif %}
    </div>

    <div class="est-item">
      Scaling
      <br>
      {% if stats.defense_percent %}
      <input type="number" name="defense_percent" placeholder="%" class="percent-form" step="0.01" min="0" max="9999.99" value="{{ stats.defense_percent }}">
      {% else %}
      <input type="number" name="defense_percent" placeholder="%" class="percent-form" step="0.01" min="0" max="9999.99">
      {% endif %}
    </div>
  </div>

  <div class="est-row">
    <div class="est-item">
      HP
      <br>
      {% if stats.hp %}
        <input type="number" name="hp" placeholder="points" class="points-form" step="1" min="0" max="99999" value="{{ stats.hp }}">
      {% else %}
        <input type="number" name="hp" placeholder="points" class="points-form" step="1" min="0" max="99999">
      {% endif %}
    </div>

    <div class="est-item">
      Scaling
      <br>
      {% if stats.hp_percent %}
        <input type="number" name="hp_percent" placeholder="%" class="percent-form" step="0.01" min="0" max="9999.99" value="{{ stats.hp_percent }}">
      {% else %}
        <input type="number" name="hp_percent" placeholder="%" class="percent-form" step="0.01" min="0" max="9999.99">
      {% endif %}
    </div>
  </div>

  <hr>

  <div class="est-row">
    <div class="est-item">
      Additional
      <br>
      {% if stats.add1 %}
        <input type="number" name="add1" placeholder="points" class="points-form" step="1" min="0" max="99999" value="{{ stats.add1 }}">
      {% else %}
        <input type="number" name="add1" placeholder="points" class="points-form" step="1" min="0" max="99999">
      {% endif %}
    </div>

    <div class="est-item">
      Scaling
      <br>
      {% if stats.add1_percent %}
        <input type="number" name="add1_percent" placeholder="%" class="percent-form" step="0.01" min="0" max="9999.99" value="{{ stats.add1_percent }}">
      {% else %}
        <input type="number" name="add1_percent" placeholder="%" class="percent-form" step="0.01" min="0" max="9999.99">
      {% endif %}
    </div>
  </div>

  <div class="est-row">
    <div class="est-item">
      Additional
      <br>
      {% if stats.add2 %}
        <input type="number" name="add2" placeholder="points" class="points-form" step="1" min="0" max="99999" value="{{ stats.add2 }}">
      {% else %}
        <input type="number" name="add2" placeholder="points" class="points-form" step="1" min="0" max="99999">
      {% endif %}
    </div>

    <div class="est-item">
      Scaling
      <br>
      {% if stats.add2_percent %}
        <input type="number" name="add2_percent" placeholder="%" class="percent-form" step="0.01" min="0" max="9999.99" value="{{ stats.add2_percent }}">
      {% else %}
        <input type="number" name="add2_percent" placeholder="%" class="percent-form" step="0.01" min="0" max="9999.99">
      {% endif %}
    </div>
  </div>

  <div class="est-row">
    <div class="est-item">
      Additional
      <br>
      {% if stats.add3 %}
        <input type="number" name="add3" placeholder="points" class="points-form" step="1" min="0" max="99999" value="{{ stats.add3 }}">
      {% else %}
        <input type="number" name="add3" placeholder="points" class="points-form" step="1" min="0" max="99999">
      {% endif %}
    </div>

    <div class="est-item">
      Scaling
      <br>
      {% if stats.add3_percent %}
        <input type="number" name="add3_percent" placeholder="%" class="percent-form" step="0.01" min="0" max="9999.99" value="{{ stats.add3_percent }}">
      {% else %}
        <input type="number" name="add3_percent" placeholder="%" class="percent-form" step="0.01" min="0" max="9999.99">
      {% endif %}
    </div>
  </div>
</div>
