<div class="estimation-column">
  <div class="est-row">
    <div class="est-item">
      Damage Bonus
      <br>
      {% if stats.dmg_bonus %}
        <input type="number" name="dmg_bonus" placeholder="%" class="percent-form" step="0.1" value="{{ stats.dmg_bonus }}">
      {% else %}
        <input type="number" name="dmg_bonus" placeholder="%" class="percent-form" step="0.1">
      {% endif %}
    </div>
    <div class="est-item">
      Skill Bonus
      <br>
      {% if stats.skill_bonus %}
        <input type="number" name="skill_bonus" placeholder="%" class="percent-form" step="0.1" value="{{ stats.skill_bonus }}">
      {% else %}
        <input type="number" name="skill_bonus" placeholder="%" class="percent-form" step="0.1">
      {% endif %}
    </div>
  </div>

  <div class="est-row">
    <div class="est-item" style="width: 130px">
      Elemental (Phys) Damage Bonus
      <br>
      {% if stats.ed_bonus %}
        <input type="number" name="ed_bonus" placeholder="%" class="percent-form" step="0.1" value="{{ stats.ed_bonus }}">
      {% else %}
        <input type="number" name="ed_bonus" placeholder="%" class="percent-form" step="0.1">
      {% endif %}
    </div>
  </div>

  <hr>

  <div class="est-row">
    <div class="est-item">
      Resist
      <br>
      {% if stats.resist %}
        <input type="number" name="resist" placeholder="%" class="percent-form" step="0.1" value="{{ stats.resist }}">
      {% else %}
        <input type="number" name="resist" placeholder="%" class="percent-form" step="0.1">
      {% endif %}
    </div>

    <div class="est-item">
      Reduce
      <br>
      {% if stats.reduce %}
        <input type="number" name="reduce" placeholder="%" class="points-form" step="0.1" value="{{ stats.reduce }}">
      {% else %}
        <input type="number" name="reduce" placeholder="%" class="points-form" step="0.1">
      {% endif %}
    </div>
  </div>

  <div class="est-row">
    <div class="est-item">
      Character LVL
      <br>
      {% if stats.char_lvl %}
        <input type="number" name="char_lvl" placeholder="lvl" class="points-form" step="0.1" value="{{ stats.char_lvl }}">
      {% else %}
        <input type="number" name="char_lvl" placeholder="lvl" class="points-form" step="0.1">
      {% endif %}
    </div>

    <div class="est-item">
      Enemy LVL
      <br>
      {% if stats.enemy_lvl %}
        <input type="number" name="enemy_lvl" placeholder="lvl" class="points-form" step="0.1" value="{{ stats.enemy_lvl }}">
      {% else %}
        <input type="number" name="enemy_lvl" placeholder="lvl" class="points-form" step="0.1">
      {% endif %}
    </div>
  </div>

  <div class="est-row">
    <div class="est-item">
      DEF Reduce
      <br>
      {% if stats.def_reduce %}
        <input type="number" name="def_reduce" placeholder="%" class="points-form" step="0.1" value="{{ stats.def_reduce }}">
      {% else %}
        <input type="number" name="def_reduce" placeholder="%" class="points-form" step="0.1">
      {% endif %}
    </div>
  </div>
</div>
